{extend name="common/common"}
{block name="link"}
<link rel="stylesheet" href="__HOME__/css/sig10.css">
{/block}
{block name="title"}体能测试{/block}
{block name="body"}

<body>
    <table border="5">
        <tr>
            <td class="hong" colspan="5">体能测试</td>
        </tr>
        <tr>
            <th class="hui">学员编号</th>
            <td colspan="4">A1001</td>
        </tr>
        <tr>
            <th class="hui" rowspan="4">静态</th>
            <th class="hui">身高/CM</th>
            <td>184</td>
            <th class="hui" rowspan="9">评价</th>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容
                </p>
            </td>
        </tr>
        <tr>
            <th class="hui">体重/KG</th>
            <td>60</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
            </td>
        </tr>
        <tr>
            <th class="hui">皮下脂肪</th>
            <td>80</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容
                </p>
            </td>
        </tr>
        <tr>
            <th class="hui">肺活量</th>
            <td>8</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
            </td>
        </tr>
        <tr>
            <th class="hui" rowspan="5">动态</th>
            <th class="hui">坐立前曲</th>
            <td>03</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
            </td>
        </tr>
        <tr>
            <th class="hui">台阶测试</th>
            <td>03</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
            </td>
        </tr>
        <tr>
            <th class="hui">仰卧起坐</th>
            <td>03</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
            </td>
        </tr>
        <tr>
            <th class="hui">俯卧撑</th>
            <td>03</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
            </td>
        </tr>
        <tr>
            <th class="hui">核心力量</th>
            <td>03</td>
            <td>
                <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
            </td>
        </tr>
        <tr>
            <th class="hui">总结</th>
            <td colspan="4"><span>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</span></td>
        </tr>
    </table>
    <div style="width: 50vw; margin-bottom: 30px;">
        <button class="back btnTo" data-href="/index.php/Index/scoreQuery">&lt;返回</button>
    </div>
    {/block}