{extend name="common/common"}
{block name="link"}
<link rel="stylesheet" href="__HOME__/css/sig11.css">
{/block}
{block name="title"}成绩查询{/block}
{block name="body"}
<table border="5">
    <tr>
        <th class="hong" colspan="2">A1001</th>
        <th class="hong" colspan="8">day1-初级科目</th>
    </tr>
    <tr>
        <th class="hui" colspan="2" rowspan="2">科目</th>
        <th class="hui" colspan="2">测试评分</th>
        <th class="hui" colspan="5">考核的分</th>
        <th class="hui" rowspan="2">点评</th>
    </tr>
    <tr>
        <th class="hui">外部动态分数</th>
        <th class="hui">内部操作分数</th>
        <th class="hui">外部动态分数</th>
        <th class="hui">内部操作分数</th>
        <th class="hui" colspan="2">障碍状态</th>
        <th class="hui">考核分数</th>
    </tr>
    <tr>
        <th class="hui">1</th>
        <th class="hui">200圆环</th>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <th class="hui" rowspan="7">违规次数</th>
        <td>9</td>
        <td>9</td>
        <td>
            <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容
            </p>
        </td>
    </tr>
    <tr>
        <th class="hui">2</th>
        <th class="hui">小圆环</th>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>100</td>
        <td>
            <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容
            </p>
        </td>
    </tr>
    <tr>
        <th class="hui">3</th>
        <th class="hui">环形路</th>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>100</td>
        <td>
            <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
        </td>
    </tr>
    <tr>
        <th class="hui">4</th>
        <th class="hui">双向定点</th>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>
            <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
        </td>
    </tr>
    <tr>
        <th class="hui">5</th>
        <th class="hui">双向变线</th>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>
            <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
        </td>
    </tr>
    <tr>
        <th class="hui">6</th>
        <th class="hui">加速&绕桩</th>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>
            <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
        </td>
    </tr>
    <tr>
        <th class="hui">7</th>
        <th class="hui">综合赛道</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>9</td>
        <td>
            <p>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</p>
        </td>
    </tr>
    <tr>
        <th class="hui" colspan="2">总分数</th>
        <td colspan="2">100</td>
        <th class="hui">总评</th>
        <td colspan="5">
            <span>评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容评价内容</span>
        </td>
    </tr>
</table>
<div style="width: 100vw; margin-bottom: 30px;">
    <button class="back btnTo" data-href="/index.php/Index/scoreQuery">&lt;返回</button>
</div>
<div id="container" style=" width:1182px; height:500px;"></div>
<div id="containers"></div>
{/block}

{block name="script"}
<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/highcharts-more.js"></script>
<script>
    var chart = Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: '成绩数据统计图'
        },
        xAxis: {
            categories: [
                '200圆环', '小圆环', '环形路', '双向定点', '双向变线', '加速&绕桩', '综合赛道',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '成绩'
            }
        },
        tooltip: {
            // head + 每个 point + footer 拼接成完整的 table
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                borderWidth: 0
            }
        },
        series: [{
            name: '测试成绩',
            color: '#f38542',
            data: [48, 59, 59, 52, 65, 59, 51]
        }, {
            name: '考核成绩',
            color: '#5e9edb',
            data: [64, 76, 75, 68, 86, 84, 74]
        },]
    });
    var chart = Highcharts.chart('containers', {
        chart: {
            polar: true,
            type: 'line',
        },
        pane: {
            size: '90%'
        },
        xAxis: {

            categories: ['Sty', 'Ob', 'Dr', 'St',
                'Un', 'Cu'
            ],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },
        series: [{
            name: '测试成绩',
            color: '#f38542',
            data: [2, 5, 6, 4, 6, 8],
            pointPlacement: 'on'
        },
        {
            name: '考核成绩',
            color: '#5e9edb',
            data: [6, 8, 8, 6, 8, 8],
            pointPlacement: 'on'
        }]
    });
</script>
{/block}