<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{block name="title"}红旗CLT签到{/block}</title>
	{block name="link"}
	<link rel="stylesheet" href="__HOME__/css/sig.css">
	{/block}
	{block name="style"}
	<style></style>
	{/block}
</head>

<body>
	{block name="body"}{/block}
	<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<!-- <script src="__HOME__/js/jquery-1.9.1.min.js"></script> -->
	<script src="__HOME__/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/layer_mobile/layer.js" charset="utf-8"></script>
	<script>
		wx.config({
			debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: "{$data['appId']}", // 必填，公众号的唯一标识
			timestamp: "{$data['timestamp']}", // 必填，生成签名的时间戳
			nonceStr: "{$data['nonceStr']}", // 必填，生成签名的随机串
			signature: "{$data['signature']}",// 必填，签名
			jsApiList: ['hideMenuItems'] // 必填，需要使用的JS接口列表
		});
		//Initialization 
		wx.ready(function () {
			//批量隐藏功能
			wx.hideMenuItems({
				menuList: [
					'menuItem:share:appMessage',
					'menuItem:share:timeline',
					'menuItem:share:qq',
					'menuItem:share:weiboApp',
					'menuItem:favorite',
					'menuItem:share:facebook',
					'menuItem:share:QZone',
					'menuItem:editTag',
					'menuItem:delete',
					'menuItem:copyUrl',
					'menuItem:originPage',
					'menuItem:readMode',
					'menuItem:openWithQQBrowser',
					'menuItem:openWithSafari',
					'menuItem:share:email',
					'menuItem:share:brand'
				] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
			});
		});
		//Initialization 
		$(document).ready(function () {
			var HEIGHT = $('.wrap').height();
			$(window).resize(function () {
				$('.wrap').height(HEIGHT);
			});
			$(".btnTo").on('click', function () {
				console.log($(this).attr('data-href'));
				window.location.replace($(this).data('href'));
			})
		});
	</script>
	{block name="script"}{/block}
</body>

</html>